@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@theme {
  --font-family-sans: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

/* Style for react-simple-code-editor */
.code-editor {
  background: #1f2937; /* bg-gray-800 */
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  min-height: 100%;
  caret-color: white;
}

.code-editor .prism-editor__textarea:focus {
  outline: none;
}
